# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# cactus
*/.build/

*/.deploy/
.build/error.html
.build/index.html
.build/static/css/day.css
.build/static/css/main.css
.build/static/css/night.css
.build/static/css/reset.css
.build/static/css/style.css
.build/static/images/avatar@4x.jpg
.build/static/js/main.js
