canvas {
  visibility: visible;
  /* night cycle! */ }

body {
  background-color: #0a0a0a;
  color: #aaa; }

#header,
#post-meta,
#post-nav {
  border-color: #222 !important; }

a, h1 {
  color: #fff; }

#wrapper div#logo {
  background-image: url("/static/images/neutyp-white@2x.gif"); }
