title: Introducing BrowserTap
thumbnail: /static/images/image-thumbnail.jpg
tags: Image
date: 17-01-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

BrowserTap – all HTML, CSS, UI, UX, Video, etc
Took 2nd place at Startup Weekend – TC4.
Spread virally via twitter and a few forums/blogs – 2,000 signups.

[http://browsertap.com](http://browsertap.com "site")  
[http://minnov8.com/2013/01/17/spiceapps-browsertap/](http://minnov8.com/2013/01/17/spiceapps-browsertap/ "minnov8")  
[https://layervault.com/spiceapps/BrowserTap](https://layervault.com/spiceapps/BrowserTap "layervault")  

<img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/>


{% endfilter %}
{% endblock body %}
