title: ClassDojo for Teachers — Redesign
thumbnail: /static/images/posts/classdojo/teach/thumb.jpg
tags: UI/UX, Design, HTML/CSS
date: 02-05-2014

{% extends "post.html" %}
{% block body %}

<h2 class="center">{{ title }}</h2>
<br />

<p>
  ClassDojo is used by millions of teachers every day, in 28 languages and 148 different countries. Doing any design work to enhance the experience for teachers meant deeply understanding how the service is used in different classrooms and different situations. 
</p>

<p>
  Our goal was to refresh the core flows that teachers use on a daily basis while creating a new, consistent visual style that could be applied to varying platforms and conditions. The first step was creating the visual style, known internally as Mojette, and building a set of reusable HTML and CSS components allowing front-end developers (and myself) to rapidly build new pages without worrying about design or layout consistency. 
</p>

<p class="center">
  <br />
  <a class="fancy button" href="{% static '/images/posts/classdojo/teach/mini_browser-7@2x.png' %}">
    <img class="featured 2x hidden" src="{% static '/images/posts/classdojo/teach/mini_browser-7.png' %}" />
    View the Mojette component guide <!-- &#x1F50D; -->
  </a>
</p>

<!-- <a class="fancy" href="{% static '/images/posts/classdojo/teach/mini_browser-7@2x.png' %}">
  <img class="featured 2x" src="{% static '/images/posts/classdojo/teach/mini_browser-7.png' %}" />
</a> -->

<!-- <br /> -->

<a class="fancy" href="{% static '/images/posts/classdojo/teach/mini_browser-6@2x.png' %}">
  <img class="featured 2x" src="{% static '/images/posts/classdojo/teach/mini_browser-6.png' %}" />
</a>

<p>
  The second step was understanding our user's actions on the site. Collecting data over several months, conducting in-classroom interviews and observation, we gathered a picture of the most painful and delightful bits of the existing experience. We then cut away unnecessary elements and reformed core flows, arriving at a much cleaner and  well-received daily experience for teachers.
</p>

<p>
  The creation of Mojette alongside <a href="//mojojs.com/">Mojo.js</a>, an incredible modular JavaScript framework (created by <a href="//github.com/crcn">Craig Condon</a>), allowed us to re-write the entire front-end of the teacher web app in a record breaking 4 weeks. 
</p>

<a class="fancy" href="{% static '/images/posts/classdojo/teach/mini_browser-5@2x.png' %}">
  <img class="featured 2x" src="{% static '/images/posts/classdojo/teach/mini_browser-5.png' %}" />
</a>
<a class="fancy" href="{% static '/images/posts/classdojo/teach/mini_browser-4@2x.png' %}">
  <img class="featured 2x" src="{% static '/images/posts/classdojo/teach/mini_browser-4.png' %}" />
</a>



{% endblock body %}