title: One Billion Moments
thumbnail: /static/images/posts/classdojo/1billion/thumb.jpg
tags: UI/UX, Design, HTML/CSS
date: 14-02-2014

{% extends "post.html" %}
{% block body %}

<h2 class="center">{{ title }}</h2>
<br />
<p>
  Over the past year I've worked with ClassDojo to improve the user experience for both teachers and parents, helping them double the teacher user base to 2 million teachers worldwide. On February 14th, 2014, teachers awarded the 1 billionth piece of feedback on ClassDojo. That’s 1,000,000,000 moments when teachers have recognized students for doing something wonderful!
</p>

<img class="2x" src="//www.classdojo.com/images/billion/big%20blue-fs8.png" />

<p>
  To celebrate, I had the idea to create an infographic showing the impact of 1 billion moments. This project was concepted, and launched within 1 week, with exception to the wonderful illustrations created by <a href="//dribbble.com/monica-harvancik">Monica Harvancik</a> and the video animation by <a href="//github.com/liamdon">Liam Don</a>, all work was done by myself from design to HTML/CSS. 
</p>

<p class="center">
  <br />
  <a href="//www.classdojo.com/1billion" class="button">View the full infographic <span class="arrow">&rarr;</span></a>
</p>

<br />

<!-- <img class="2x" src="{% static '/images/posts/classdojo/1billion/Hardwork.png' %}" /> -->
<!-- <img class="2x" src="{% static '/images/posts/classdojo/1billion/Creativity.png' %}" /> -->

<img class="2x" src="{% static '/images/posts/classdojo/1billion/graph-fs8.png' %}" />

<!-- <a class="fancy" href="{% static '/posts/mini_browser-3@2x.png' %}"><img class="featured 2x" src="{% static '/posts/mini_browser-3.png' %}" /></a> -->

{% endblock body %}