title: ClassDojo Messaging
thumbnail: /static/images/posts/classdojo/messaging/thumb.jpg
tags: UI/UX design, HTML/CSS, Video production, Animation
date: 27-03-2014

{% extends "post.html" %}
{% block body %}

<h2 class="center">{{ title }}</h2>
<br />
<p>
  In late March, 2014, ClassDojo launched ClassDojo Messaging — a new feature built into the existing teacher web, iOS, and Android experiences. 
</p>

<p>  
  Working alongside the mobile team, I designed and built (read: HTML, CSS) the web interface for the new messaging interface, as presented to both parents and teachers, to look seamless across devices. 
</p>

<a class="fancy" href="{% static '/images/posts/classdojo/messaging/mini_browser-2@2x.png' %}"><img class="featured 2x" src="{% static '/images/posts/classdojo/messaging/mini_browser-2.png' %}" /></a>

<!-- <img src="{% static '/images/posts/classdojo/messaging/Chat-Window.png' %}" class="center 2x" width="600" height="450" /> -->

<p>
  Before we could release the messaging feature to our teacher and parent users, we had to let them know what was new! The task then fell to me to create a marketing page touting the new communication tools in an interesting and interactive manner. 
</p>
<p>
  We originally planned to film a 'floating hand' using the updated app in a real school classroom. After several iterations of concept, we opted to keep the phone static, but animate the actions a user would take within the actual app.
</p>

<p>
  <img src="{% static '/images/posts/classdojo/messaging/IMG_6789-2.jpg' %}" class="center 2x" width="600" />
</p>

<p>
  To achieve the 'screencasted' video of the iPhone, I ran the app locally in Xcode and and captured the movement a finger would take. For brevity sake, I used FCP X to edit down some segments and re-created natural app animations to cover the gaps caused by editing.
</p>

<p class="center">
  <a href="//www.classdojo.com/messaging" class="button">Watch the final animation</a>
</p>

<a class="fancy" href="{% static '/images/posts/classdojo/messaging/mini_browser.png' %}"><img class="featured" src="{% static '/images/posts/classdojo/messaging/mini_browser.png' %}" /></a>

<!-- <p>
  The work then turned to refreshing the UX of the teacher web app and re-writing the entire front-end that powered it. 
</p>
<p class="center">
  <a href="/posts/classdojo-teach.html" class="button">Continue reading <span class="arrow">&rarr;</span></a>
</p> -->

{% endblock body %}