title: One Billion Moments
thumbnail: /static/images/image-thumbnail.jpg
tags: UI/UX design, HTML/CSS
date: 14-02-2014

{% extends "post.html" %}
{% block body %}

<h2 class="center">{{ title }}</h2>
<br />
<p>
  Over the past year I've worked with ClassDojo to improve the user experience for both teachers and parents, helping them double the teacher user base to 2 million teachers worldwide. On February 14th, 2014, teachers awarded the 1 billionth piece of feedback on ClassDojo. That’s 1,000,000,000 moments when teachers have recognized students for doing something wonderful!
</p>

<p>
  To celebrate, I had the idea to create an infographic showing the impact of 1 billion moments. This project was concepted, and launched within 1 week, with exception to the wonderful illustrations created by <a href="https://dribbble.com/monica-harvancik">Monica Harvancik</a> and the video animation by <a href="https://github.com/liamdon">Liam Don</a>, all work was done by myself from design to HTML/CSS. 
</p>

<!-- <p>  
  I designed and built (read: HTML, CSS) the marketing page for the 1 billion points announcement.
</p>
 -->
<a class="fancy" href="{% static '/posts/mini_browser-3@2x.png' %}"><img class="featured 2x" src="{% static '/posts/mini_browser-3.png' %}" /></a>

{% endblock body %}