title: One Billion Moments
thumbnail: /static/images/image-thumbnail.jpg
tags: UI/UX design, HTML/CSS
date: 14-02-2014

{% extends "post.html" %}
{% block body %}

<h2 class="center">{{ title }}</h2>
<br />
<p>
  As of February 14th, 2014, teachers have given students over 1 billion pieces of feedback on ClassDojo. That’s 1,000,000,000 moments when teachers have recognized students for doing something wonderful!
</p>

<p>  
  I designed and built (read: HTML, CSS) the marketing page for the 1 billion points announcement.
</p>

<a class="fancy" href="{% static '/posts/mini_browser-3@2x.png' %}"><img class="featured 2x" src="{% static '/posts/mini_browser-3.png' %}" /></a>

<p>
  The work then turned to refreshing the UX of the teacher web app and re-writing the entire front-end that powered it. 
</p>
<p class="center">
  <a href="//www.neutyp.com/posts/?" class="button">Continue reading <span class="arrow">&rarr;</span></a>
</p>

{% endblock body %}