title: Team Digest
thumbnail: /static/images/image-thumbnail.jpg
tags: Image
date: 12-10-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Early 2012 – Built Team Digest – easy curated newsletters.
Presented at Minnedemo - had lots of interest. No viable business model found.
All HTML, CSS, UI, UX is my work.

![Invite Page](http://f.cl.ly/items/304416283S1D1D1t0Q3N/Invite-Page.jpg "Invite Page")
![Screenshot](http://f.cl.ly/items/0n0v3r171F0l1b1Z2O0W/Screen%20Shot%202011-09-26%20at%209.08.16%20PM.PNG "Screenshot")

[http://teamdigest.com](http://teamdigest.com "teamdigest.com")  
[http://tech.mn/news/tag/team-digest/](http://tech.mn/news/tag/team-digest/ "tech.mn")

<!-- <img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/> -->


{% endfilter %}
{% endblock body %}
