title: Team Digest
thumbnail: /static/images/image-thumbnail.jpg
tags: Image
date: 12-10-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Early 2012 – Built Team Digest – easy curated newsletters.
Presented at Minnedemo - had lots of interest. No viable business model found.
All HTML, CSS, UI, UX is my work.
http://tiny.ec/MiWw/o
http://tiny.ec/MjBI/o
http://teamdigest.com
http://tech.mn/news/tag/team-digest/

<!-- <img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/> -->


{% endfilter %}
{% endblock body %}
