{% extends "base.html" %}
{% block content %}

<canvas id="day" width="100%" height="100%">
  <!-- Your browser does not support the Canvas element. -->
</canvas>

<section id="wrapper-slim">

  <header id="header">
    <img id="avatar" class="2x" src="{% static '/images/avatar.jpg' %}"/>
      <h1>{% block title %}Tim Erickson{% endblock title %}</h1>
    <h2>I create digital things.</h2>
  </header> <!--header-->

  <p>I’ve been designing for screens over the past 10 years, specializing in UI/UX design and HTML/CSS development.</p>

  <p>I co-founded <a href="//spiceapps.com/" target="_blank">Spice Apps</a>. We’ve built social apps for large brands like Best Buy; and tools, like <a href="//teamdigest.com/" target="_blank">Team Digest</a> and <a href="//browsertap.com/" target="_blank">BrowserTap</a>, for other startups.</p>

  <p>I also capture the world as a photographer and aspiring videographer. I occasionally share my photo <a href="//www.instagram.com/timerickson/" target="_blank">adventures</a>, and  upload <a href="//vimeo.com/timerickson" target="_blank">videos</a>. In the little spare time that I have, I stay up late and write <a href="//soundcloud.com/quickattack" target="_blank">music</a> about outer space.</p>

  <p>I’m always looking for exciting opportunities, so if you think I can help you, feel free to send me an <a href="mailto:tim@neutyp.com" target="_blank">email</a> or view my <a href="//neutyp.com/" target="_blank">portfolio</a>.</p>

  <p>I’m most active on <a href="//twitter.com/neutyp" target="_blank">Twitter</a>, so follow me for the latest.</p>

</section> <!--wrapper-->

{% endblock content %}
