{% extends "base.html" %}
{% block content %}

<canvas id="night" width="100%" height="100%">
  <!-- Your browser does not support the Canvas element. -->
</canvas>

<section id="wrapper">

  <header id="header">
    <div id="logo" class="center"></div>
    <!-- <h1>{% block title %}{{ block.super }}{% endblock title %}</h1> -->
    <p class="center">neutyp is the portfolio of <a href="//timerickson.com/">Tim Erickson</a>, a UI/UX designer in San Francisco, CA</p>
  </header> <!--header-->


  <section id="thumbnails" class="group">
    {% for post in posts %}
    <a href='/{{ post.path }}'><img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
    <span>{{ post.title }}</span>
    </a>
    {% endfor %}
  </section> <!--thumbnails-->
  
  {% block footer %}
  <footer id="footer">
    <p class="small">
      <!-- A volcano is a mountain with hiccups. -->
      It takes about 540 peanuts to make a 12-once jar of peanut butter.
      <!-- The longest recorded flight of a chicken is thirteen seconds. -->
      <!-- Donkeys kill more people annually than plane crashes. -->
      <!-- Americans, on average, eat 18 acres of pizza of pizza every day. -->
    </p>
  </footer>
  {% endblock footer %}

</section> <!--wrapper-->

{% endblock content %}
