<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!--
        Created by

        $$$$$$$$\ $$$$$$\ $$\      $$\
        \__$$  __|\_$$  _|$$$\    $$$ |
           $$ |     $$ |  $$$$\  $$$$ |
           $$ |     $$ |  $$\$$\$$ $$ |
           $$ |     $$ |  $$ \$$$  $$ |
           $$ |     $$ |  $$ |\$  /$$ |
           $$ |   $$$$$$\ $$ | \_/ $$ |
           \__|   \______|\__|     \__|
    -->

    <!-- many screens stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% block header %}
    <!-- <title>{% block title %}neutyp{% endblock %}</title> -->
    <title>Tim Erickson</title>
    {% endblock header %}

    <!-- Yay search engine stuff! Hire me Google -->
    <meta name="description" content="Tim Erickson creates digital things— the portfolio of Tim Erickson, a senior UI/UX designer in San Francisco, CA">
    <meta name="author" content="Tim Erickson">
    <meta name="designer" content="Tim Erickson">
    <meta name="rating" content="general">
    <meta name="keywords" content="tim,erickson,web,design,development,interface,UI,UX,user,experience,designer,photography,photographer"><!-- why do I bother when google ignores this? -->
    <meta name="format-detection" content="telephone=yes">
    <meta name="robots" content="index, follow">

    <!-- Yay Open Graph! Hire me facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tim Erickson">
    <meta property="og:url" content="http://timerickson.com">
    <meta property="og:description" content="Tim Erickson creates digital things— the portfolio of Tim Erickson, a senior UI/UX designer in San Francisco, CA">
    <meta property="og:image" content="http://neutyp.com/static/images/neutyp-alpha@4x.gif"><!-- gif may be a bad idea? it could take first frame -->
    <meta property="og:image" content="http://timerickson.com/static/images/avatar@4x.jpg">
    <meta property="og:locale" content="en_US">

    <!-- Yay iOS stuff! Hire me Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="apple-touch-icon" href="http://timerickson.com/apple-touch-icon.png"> -->

    <!-- Chrome prefetching and prerendering stuff -->
    <!-- <link rel="prerender" href="http://timerickson.com/"> -->
    <!-- <link rel="prefetch" href="http://timerickson.com/"> -->
    <link rel="canonical" href="http://neutyp.com/">
    <link rel="sitemap" href="http://neutyp.com/sitemap.gz"><!-- or .xml ? -->
    <link rel="next" href="https://timerickson.com/">
    <link rel="prev" href="https://timerickson.com/">
    <link rel="prerender" href="https://twitter.com/neutyp">
    <link rel="prefetch" href="https://twitter.com/neutyp">
    <link rel="canonical" href="http://timerickson.com/">
    <link rel="sitemap" href="http://timerickson.com/sitemap.gz"><!-- or .xml ? -->
    <link rel="next" href="https://twitter.com/neutyp">
    <link rel="prev" href="https://medium.com/@neutyp">

    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/fancyzoom.css' %}">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script src="{% static '/js/main.js' %}"></script>
    <!-- <script src="//code.jquery.com/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!--  google tracker -->
    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-755512-A');
    </script>


  </head>

  <body>
    {% block content %}
    Main content
    {% endblock content %}

    {% block scripts %}
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/night.js' %}"></script>
    <script src="{% static '/js/jquery.fancyzoom.js' %}"></script>
    <script src="{% static '/js/retina.js' %}"></script>
    <script src="{% static '/js/night.js' %}"></script>
    <script>
      $(document).ready(function() {
        $('p > img').unwrap();
        $("a.fancy").fancyZoom();
      });
    </script>
    {% endblock scripts %}
  </body>
</html>
