{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

  <canvas id="night" width="100%" height="100%">
    <!-- Your browser does not support the Canvas element. -->
  </canvas>

  <section id="wrapper" class="post group">
    <header id="header">
      <div id="logo" class="center"></div>
      <a href="/"><h2><span class="arrow">&larr;</span> All projects</h2></a>
      {% block nav %}
      {{ block.super }}
      {% endblock nav %}
    </header>
    
    <article class="post">
      <section class="post-body">
        {% block body %}
        This is where the post contents is.
        {% endblock body %}
      </section>
    </article>
    
    <footer id="post-meta" class="group">
      <div class="date">{{ date|date:"M Y" }}</div>
      {% if tags %}
      <div><span>Tags</span> {{ tags }} </div>
      {% endif %}
    </footer> <!--post-meta-->
    
    <footer class="post-footer">
    <nav id="post-nav">
      <span class="prev">
        {% if prevPost %}
          <a href='/{{ prevPost.path }}'>
            <span class="arrow">&larr;</span> {{ prevPost.title }}
          </a>
        {% endif %}
      </span>
    
      <span class="next">
        {% if nextPost %}
          <a href='/{{ nextPost.path }}'>
            {{ nextPost.title }} <span class="arrow">&rarr;</span>
          </a>
        {% endif %}
      </span>
    </nav>
    </footer>

  </section> <!--wrapper-->

{% endblock content %}